{% load wikify %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/css/" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print" type="text/css" charset="utf-8"> 
    <script src="{{ STATIC_URL }}js/less-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js" type="text/javascript" charset="utf-8"></script>

    <title>{{ site_name }}{% if pad %} → {{ pad.display_slug|dewikify }}{% endif %}</title>

    {% block extra_styles %}{% endblock %}
    
</head>
<body>
    <div class="wrap screen-only" style="min-height: 15%;">
        <div class="left-side">
            <h1><a href="{% url 'home' %}">{{ site_name }}</a></h1>
        </div>
        <div class="middle">
            {% block title %}{% endblock %}
        </div>

        <div class="right-side">
            <ul id="account-buttons">
                {% if user.is_authenticated and author %}<li>{{ author.full_name_with_prefix }}</li>
                <li><a class="button" href="{% url 'logout' %}">Log out</a></li>{% else %}
                <li><a class="button" href="{% url 'login' %}">Log in</a></li>{% endif %}
            </ul>
        </div>
    </div>


    <div class="wrap" style="height: 85%;">
        <div class="left-side screen-only">
            <nav>
                <ul>
                    {% if author %}
                        <li id="create-pad"><a class="button" href="{% url 'pad-create' author.group.all.0.id %}">Create pad</a></li>
                    {% endif %}
                </ul>
                <ul id="pads_list">
                    {% for pad in pads %}
                        <li><a data-uid="{{ pad.display_slug }}" href="{% if mode == 'write' %}{% url 'pad-write' slug=pad.display_slug %}{% else %}{% url 'pad-read' slug=pad.display_slug %}{% endif %}" class="pad-link">{{ pad.display_slug|dewikify }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div id="content" class="middle {% block contentclasses %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
        <div class="right-side screen-only">
            <h2>The right side</h2>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/relearn.js" type="text/javascript" charset="utf-8"></script>
{% block scripts %}{% endblock %}
</body>
</html>
