// not effective on the phantomjs pdf export yet : distinction btwn droite and gauche pages
@page {
    size: 14,85cm 21cm;
}
@page:left {
    margin-left: 5cm;
    margin-right: 0;
}
@page:right {
    margin-right: 5cm;
    margin-left: 0;
}

@media print {
/* ============ GENERAL LAYOUT ============ */

html, body {
    color : black;
    background: none;
}
.middle {
    width : 100%;
}

/* ============ COVER ============ */

#cover {
    font-family: HerscheyScript, sans-serif;
    font-size: 100px !important;
    line-height: 1em !important;
    page-break-after: always;
}

#cover h1 {
    font-size: 200px !important;
    line-height: 1em !important;
}
